In [275]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation
from tensorflow.keras.optimizers import Adam

In [276]:
data1 = pd.read_csv("Dataset/Train/Voltage_L1_DataSet1.csv")
out1 = pd.read_csv("Dataset/Train/OutputFor_DataSet1.csv")
data2 = pd.read_csv("Dataset/Test/Voltage_L1_DataSet2.csv")
out2 = pd.read_csv("Dataset/Test/OutputFor_DataSet2.csv")

In [277]:
print("data1",data1.shape)
print("out1",out1.shape)
print("data2",data2.shape)
print("out2",out2.shape)

data1 (11899, 128)
out1 (5999, 1)
data2 (5999, 128)
out2 (5999, 1)

In [278]:
data1.dropna(axis=0,inplace=True)

In [279]:
data1.shape

(5999, 128)

In [280]:
header =[]
for i in range(1,data1.shape[1]+1):
    header.append("Col"+str(i))

In [281]:
data1.columns = header
data2.columns = header

In [282]:
data1.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [283]:
data2.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-4918.927835,-4668.999112,-4375.127119,-4034.564431,-3659.213495,-3247.243211,-2804.145676,-2333.584172,-1841.965323,-1332.037736,...,-4663.506099,-4918.012016,-5121.251501,-5275.969344,-5381.249941,-5433.432863,-5434.348878,-5382.165656,-5278.715575,-5123.997634
1,2920.413836,2376.612648,1773.304349,1123.306756,444.013104,-248.097664,-933.799415,-1594.783666,-2213.654301,-2776.681104,...,4871.323226,4852.098262,4814.562485,4748.647181,4645.197563,4492.310731,4274.423564,3991.537412,3633.580485,3201.469277
2,-2808.723170,-2303.372710,-1758.656432,-1180.066319,-579.504820,32.957795,643.590017,1241.404644,1815.417600,2356.471851,...,-5151.462319,-5106.602976,-5027.871511,-4914.350757,-4759.632168,-4565.548254,-4319.281944,-4020.831887,-3671.114971,-3265.552744
3,2871.892861,2532.245964,2055.275298,1435.488878,704.927781,-86.971408,-871.546088,-1584.713275,-2177.034698,-2625.625239,...,5858.221546,5590.898767,5202.730284,4759.633062,4322.945050,3943.932165,3647.312850,3432.172965,3265.553468,3098.018896
4,5534.138053,5395.898976,5186.251418,4924.421624,4631.464792,4323.859863,4009.847091,3692.171624,3363.511349,3012.878248,...,3558.510431,3879.847783,4193.860201,4506.042306,4808.154800,5085.548312,5318.082271,5487.448225,5576.250464,5574.419599

In [284]:
data = data1.append(data2, ignore_index = True)
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [285]:
data.shape

(11998, 128)

In [286]:
header = ["output"]
out1.columns = header
out2.columns = header

In [287]:
out2.head()

   output
0       1
1       2
2       2
3       3
4       3

In [288]:
output = out1.append(out2, ignore_index = True)
output.head()

   output
0       1
1       2
2       2
3       3
4       3

In [289]:
output.shape

(11998, 1)

In [290]:
data['output'] = output

In [291]:
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128,output
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205,1
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102,2
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897,2
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684,3
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200,3

In [292]:
from sklearn.model_selection import train_test_split

In [293]:
data_arr = data.to_numpy()

In [294]:
data_arr.shape

(11998, 129)

In [295]:
for i in range(0,data_arr.shape[0]):
    data_arr[i][0:128] = fft(data_arr[i][0:128])

<ipython-input-295-a9102ea00e75>:2: ComplexWarning: Casting complex values to real discards the imaginary part
  data_arr[i][0:128] = fft(data_arr[i][0:128])

In [296]:
x_train, x_test, y_train, y_test = train_test_split(data.loc[:,data.columns != 'output'],data['output'],test_size=0.2)

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.25, random_state=42)

In [297]:
print('x_train',x_train.shape)
print('y_train',y_train.shape)
print('x_val',x_val.shape)
print('y_val',y_val.shape)
print('x_test',x_test.shape)
print('y_test',y_test.shape)

x_train (7198, 128)
y_train (7198,)
x_val (2400, 128)
y_val (2400,)
x_test (2400, 128)
y_test (2400,)

In [298]:
x_train.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
255,-1638.550089,-815.665037,75.276775,959.001199,1763.324380,2431.530695,2937.841759,3289.474820,3527.678499,3712.260635,...,-5378.651343,-4886.777348,-4459.867022,-4125.764238,-3883.435639,-3694.728971,-3507.053758,-3252.351645,-2869.782556,-2333.567399
6085,-2721.704208,-2077.232530,-1393.832789,-684.480329,37.847444,759.093753,1465.200928,2143.194357,2782.260290,3370.503192,...,-6031.652764,-5938.657652,-5804.573442,-5621.828221,-5391.505187,-5101.709419,-4749.196449,-4336.128676,-3857.099876,-3318.597745
10620,-5816.726924,-5815.638380,-5805.850250,-5784.096702,-5739.503949,-5660.105562,-5538.289109,-5355.564700,-5097.792815,-4762.798074,...,-4113.473988,-4577.898253,-4954.223901,-5245.712549,-5459.979271,-5610.074076,-5710.137428,-5765.607193,-5797.148685,-5812.376192
5170,-5493.419527,-5603.216434,-5659.689543,-5667.146753,-5622.564649,-5504.682232,-5345.655666,-5136.519289,-4886.312454,-4562.348679,...,-1886.587395,-2402.145988,-2903.076918,-3368.252956,-3783.732561,-4186.368080,-4543.205549,-4854.944229,-5116.889930,-5325.677035
8153,-3405.334680,-2934.937210,-2395.278355,-1902.755003,-1379.449272,-797.463716,-284.739499,304.941393,833.057676,1368.868213,...,-182.772107,-183.733986,-183.733679,-181.809776,-176.038125,-169.304768,-160.646489,-149.102780,-139.483233,-127.939752

In [299]:
x_test.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
9476,3915.294907,3409.816635,2871.863089,2298.067111,1707.807111,1108.431783,486.687208,-131.587666,-750.605542,-1369.168110,...,6325.963141,6342.244333,6293.732606,6190.993122,6031.496986,5805.501671,5528.282778,5193.645754,4816.260724,4389.162724
5476,6632.336322,6525.608310,6323.044276,6044.246966,5714.263608,5355.965103,4986.776169,4611.052947,4228.795090,3829.112379,...,3832.379910,4233.151448,4614.320259,4988.954386,5360.321881,5719.709024,6048.603344,6325.222867,6526.697295,6632.335615
5631,-1611.042922,-2213.206559,-2669.249273,-2986.618801,-3200.679939,-3367.274695,-3542.246911,-3774.921844,-4094.152494,-4493.423090,...,3489.198246,3319.809973,3149.492280,2920.540024,2575.249407,2092.216170,1462.131072,719.432471,-85.623552,-882.303651
5231,5522.125493,5282.946392,4994.731378,4658.480126,4274.192945,3851.877301,3390.533290,2897.164355,2375.775418,1831.368413,...,4858.630133,5168.861543,5431.057510,5637.210990,5790.325721,5888.399374,5928.428969,5911.416571,5838.361652,5708.264386
5658,5209.675580,5587.921747,5925.484036,6147.593264,6303.729580,6370.801740,6407.087576,6444.472187,6422.481217,6351.010111,...,-2.198903,270.490288,941.216753,1549.268776,2187.008959,2753.277400,3337.139832,3919.901791,4360.821733,4838.027794

In [300]:
y_train.head()

255      3
6085     2
10620    2
5170     5
8153     4
Name: output, dtype: int64

In [301]:
y_test.head()

9476    5
5476    3
5631    3
5231    1
5658    4
Name: output, dtype: int64

In [302]:
y_train_hot = pd.get_dummies(y_train)
y_test_hot = pd.get_dummies(y_test)
y_val_hot = pd.get_dummies(y_val)

In [303]:
'''from tensorflow.keras.utils import to_categorical
y_test_hot = to_categorical(y_test)
y_train_hot = to_categorical(y_train)
y_val_hot = to_categorical(y_val)
y_test_hot'''

'from tensorflow.keras.utils import to_categorical\ny_test_hot = to_categorical(y_test)\ny_train_hot = to_categorical(y_train)\ny_val_hot = to_categorical(y_val)\ny_test_hot'

In [304]:
'''y_train_arr = y_train_hot.to_numpy()
y_test_arr = y_test_hot.to_numpy()
y_val_arr = y_val_hot.to_numpy()
print("y_train:",y_train_arr.shape)
print("y_test:",y_test_arr.shape)
print("y_val:",y_val_arr.shape)'''

'y_train_arr = y_train_hot.to_numpy()\ny_test_arr = y_test_hot.to_numpy()\ny_val_arr = y_val_hot.to_numpy()\nprint("y_train:",y_train_arr.shape)\nprint("y_test:",y_test_arr.shape)\nprint("y_val:",y_val_arr.shape)'

In [305]:
y_train_hot

       1  2  3  4  5
255    0  0  1  0  0
6085   0  1  0  0  0
10620  0  1  0  0  0
5170   0  0  0  0  1
8153   0  0  0  1  0
...   .. .. .. .. ..
1380   1  0  0  0  0
11224  0  0  1  0  0
10210  1  0  0  0  0
3412   0  0  1  0  0
9983   1  0  0  0  0

[7198 rows x 5 columns]

In [306]:
x_train.shape

(7198, 128)

In [307]:
from scipy.fft import fft,fftfreq

In [308]:
transform = StandardScaler()
x_train_tr = transform.fit_transform(x_train)
x_test_tr = transform.fit_transform(x_test)
x_val_tr = transform.fit_transform(x_val)

In [309]:
x_train_tr

array([[-0.37395824, -0.1745536 ,  0.0429118 , ..., -0.82975085,
        -0.73541909, -0.60308269],
       [-0.63416193, -0.47751291, -0.31016534, ..., -1.09217725,
        -0.97411541, -0.84080095],
       [-1.37767229, -1.37527295, -1.37052364, ..., -1.43831202,
        -1.4431465 , -1.44262674],
       ...,
       [ 1.52210884,  1.48978196,  1.44651099, ...,  1.48515977,
         1.49375333,  1.48830652],
       [-0.22954536, -0.06380408,  0.1072597 , ..., -0.72058177,
        -0.59161854, -0.44653034],
       [-0.65127635, -0.78506188, -0.91005592, ..., -0.27510523,
        -0.42586451, -0.57123542]])

In [310]:
x_train.shape[0]

7198

In [311]:
x_train_re = x_train.values.reshape(x_train.shape[0],x_train.shape[1], 1)
x_test_re = x_test.values.reshape(x_test.shape[0],x_test.shape[1], 1)
x_val_re = x_val.values.reshape(x_test.shape[0],x_test.shape[1], 1)

In [312]:
x_train_re.shape

(7198, 128, 1)

In [313]:
from tensorflow.keras.layers import Conv1D

In [314]:
from tensorflow.keras.layers import Convolution1D, ZeroPadding1D, MaxPooling1D, BatchNormalization, Activation, Dropout, Flatten, Dense
from tensorflow.keras.regularizers import l2

In [315]:
batch_size = 256
num_classes = 5
epochs = 20
input_shape=(x_train.shape[1], 1)

In [316]:
print(input_shape)

(128, 1)

In [317]:
model = Sequential()
#input_shape=(x_train.shape[1], 1)
model.add(Conv1D(128, kernel_size=3,padding = 'same',activation='relu', input_shape=input_shape))
model.add(BatchNormalization())
model.add(MaxPooling1D(pool_size=(2)))
model.add(Conv1D(128,kernel_size=3,padding = 'same', activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling1D(pool_size=(2)))
model.add(Flatten())
#model.add(Dense(64, activation='tanh'))
#model.add(Dropout(0.2))
#model.add(Dense(32, activation='tanh'))
#model.add(Dropout(0.2))
model.add(Dense(16, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(num_classes, activation='softmax'))
model.summary()

Model: "sequential_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_28 (Conv1D)           (None, 128, 128)          512
_________________________________________________________________
batch_normalization_28 (Batc (None, 128, 128)          512
_________________________________________________________________
max_pooling1d_28 (MaxPooling (None, 64, 128)           0
_________________________________________________________________
conv1d_29 (Conv1D)           (None, 64, 128)           49280
_________________________________________________________________
batch_normalization_29 (Batc (None, 64, 128)           512
_________________________________________________________________
max_pooling1d_29 (MaxPooling (None, 32, 128)           0
_________________________________________________________________
flatten_14 (Flatten)         (None, 4096)              0
_________________________________________________________________
dense_38 (Dense)             (None, 16)                65552
_________________________________________________________________
dropout_24 (Dropout)         (None, 16)                0
_________________________________________________________________
dense_39 (Dense)             (None, 5)                 85
=================================================================
Total params: 116,453
Trainable params: 115,941
Non-trainable params: 512
_________________________________________________________________

In [318]:
import tensorflow as tf

In [319]:
model.compile(loss=tf.keras.losses.categorical_crossentropy,
              optimizer='adam',
              metrics=['accuracy'])

In [320]:
history = model.fit(x_train_re, y_train_hot, batch_size=64, epochs=30, validation_data=(x_val_re, y_val_hot))

Epoch 1/30
113/113 [==============================] - 6s 48ms/step - loss: 1.2466 - accuracy: 0.5236 - val_loss: 1.1790 - val_accuracy: 0.5167
Epoch 2/30
113/113 [==============================] - 6s 49ms/step - loss: 0.6701 - accuracy: 0.7019 - val_loss: 0.6126 - val_accuracy: 0.7013
Epoch 3/30
113/113 [==============================] - 6s 54ms/step - loss: 0.3093 - accuracy: 0.8842 - val_loss: 0.9732 - val_accuracy: 0.6758
Epoch 4/30
113/113 [==============================] - 6s 52ms/step - loss: 0.2110 - accuracy: 0.9168 - val_loss: 0.3778 - val_accuracy: 0.8421
Epoch 5/30
113/113 [==============================] - 6s 55ms/step - loss: 0.1391 - accuracy: 0.9493 - val_loss: 0.1409 - val_accuracy: 0.9204
Epoch 6/30
113/113 [==============================] - 6s 55ms/step - loss: 0.1217 - accuracy: 0.9525 - val_loss: 0.0974 - val_accuracy: 0.9421
Epoch 7/30
113/113 [==============================] - 8s 67ms/step - loss: 0.0931 - accuracy: 0.9639 - val_loss: 0.2198 - val_accuracy: 0.8883
Epoch 8/30
113/113 [==============================] - 8s 74ms/step - loss: 0.0872 - accuracy: 0.9708 - val_loss: 0.0486 - val_accuracy: 0.9858
Epoch 9/30
113/113 [==============================] - 8s 72ms/step - loss: 0.0646 - accuracy: 0.9770 - val_loss: 5.3070 - val_accuracy: 0.6100
Epoch 10/30
113/113 [==============================] - 8s 71ms/step - loss: 0.0753 - accuracy: 0.9735 - val_loss: 0.0079 - val_accuracy: 1.0000
Epoch 11/30
113/113 [==============================] - 11s 101ms/step - loss: 0.0558 - accuracy: 0.9808 - val_loss: 0.0601 - val_accuracy: 0.9746
Epoch 12/30
113/113 [==============================] - 7s 60ms/step - loss: 0.0617 - accuracy: 0.9773 - val_loss: 3.9686 - val_accuracy: 0.6637
Epoch 13/30
113/113 [==============================] - 6s 53ms/step - loss: 0.0553 - accuracy: 0.9813 - val_loss: 0.0189 - val_accuracy: 0.9954
Epoch 14/30
113/113 [==============================] - 6s 51ms/step - loss: 0.0216 - accuracy: 0.9918 - val_loss: 1.3668 - val_accuracy: 0.8275
Epoch 15/30
113/113 [==============================] - 6s 53ms/step - loss: 0.0390 - accuracy: 0.9847 - val_loss: 0.0406 - val_accuracy: 0.9854
Epoch 16/30
113/113 [==============================] - 6s 52ms/step - loss: 0.0460 - accuracy: 0.9842 - val_loss: 0.0287 - val_accuracy: 0.9821
Epoch 17/30
113/113 [==============================] - 6s 52ms/step - loss: 0.0182 - accuracy: 0.9949 - val_loss: 7.9528e-04 - val_accuracy: 1.0000
Epoch 18/30
113/113 [==============================] - 6s 53ms/step - loss: 0.0147 - accuracy: 0.9948 - val_loss: 0.0035 - val_accuracy: 1.0000
Epoch 19/30
113/113 [==============================] - 6s 53ms/step - loss: 0.0178 - accuracy: 0.9938 - val_loss: 1.7457e-04 - val_accuracy: 1.0000
Epoch 20/30
113/113 [==============================] - 6s 55ms/step - loss: 0.0094 - accuracy: 0.9965 - val_loss: 8.7483e-05 - val_accuracy: 1.0000
Epoch 21/30
113/113 [==============================] - 7s 63ms/step - loss: 0.0104 - accuracy: 0.9956 - val_loss: 0.0474 - val_accuracy: 0.9883
Epoch 22/30
113/113 [==============================] - 6s 56ms/step - loss: 0.0168 - accuracy: 0.9945 - val_loss: 0.0074 - val_accuracy: 0.9996
Epoch 23/30
113/113 [==============================] - 6s 52ms/step - loss: 0.0237 - accuracy: 0.9915 - val_loss: 2.7290 - val_accuracy: 0.6758
Epoch 24/30
113/113 [==============================] - 6s 52ms/step - loss: 0.0628 - accuracy: 0.9788 - val_loss: 0.0238 - val_accuracy: 0.9929
Epoch 25/30
113/113 [==============================] - 6s 52ms/step - loss: 0.0263 - accuracy: 0.9900 - val_loss: 4.0702 - val_accuracy: 0.6367
Epoch 26/30
113/113 [==============================] - 6s 55ms/step - loss: 0.0631 - accuracy: 0.9771 - val_loss: 0.0059 - val_accuracy: 0.9975
Epoch 27/30
113/113 [==============================] - 6s 53ms/step - loss: 0.0176 - accuracy: 0.9933 - val_loss: 2.0753 - val_accuracy: 0.8004
Epoch 28/30
113/113 [==============================] - 6s 54ms/step - loss: 0.0093 - accuracy: 0.9962 - val_loss: 0.0011 - val_accuracy: 1.0000
Epoch 29/30
113/113 [==============================] - 6s 53ms/step - loss: 0.0112 - accuracy: 0.9947 - val_loss: 2.3215e-04 - val_accuracy: 1.0000
Epoch 30/30
113/113 [==============================] - 6s 54ms/step - loss: 0.0100 - accuracy: 0.9950 - val_loss: 8.2348e-07 - val_accuracy: 1.0000

In [321]:
model.summary()

Model: "sequential_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_28 (Conv1D)           (None, 128, 128)          512
_________________________________________________________________
batch_normalization_28 (Batc (None, 128, 128)          512
_________________________________________________________________
max_pooling1d_28 (MaxPooling (None, 64, 128)           0
_________________________________________________________________
conv1d_29 (Conv1D)           (None, 64, 128)           49280
_________________________________________________________________
batch_normalization_29 (Batc (None, 64, 128)           512
_________________________________________________________________
max_pooling1d_29 (MaxPooling (None, 32, 128)           0
_________________________________________________________________
flatten_14 (Flatten)         (None, 4096)              0
_________________________________________________________________
dense_38 (Dense)             (None, 16)                65552
_________________________________________________________________
dropout_24 (Dropout)         (None, 16)                0
_________________________________________________________________
dense_39 (Dense)             (None, 5)                 85
=================================================================
Total params: 116,453
Trainable params: 115,941
Non-trainable params: 512
_________________________________________________________________

In [322]:
print(model.metrics_names)

['loss', 'accuracy']

In [323]:
pred_acc = model.evaluate(x_test_re,y_test_hot)
print("Test accuracy is {}".format(pred_acc))

75/75 [==============================] - 1s 7ms/step - loss: 3.1587e-06 - accuracy: 1.0000
Test accuracy is [3.1587410376232583e-06, 1.0]

In [324]:
model.save('CNN_model.h5')