In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation
from tensorflow.keras.optimizers import Adam

In [2]:
data1 = pd.read_csv("Dataset/Train/Voltage_L1_DataSet1.csv")
out1 = pd.read_csv("Dataset/Train/OutputFor_DataSet1.csv")
data2 = pd.read_csv("Dataset/Test/Voltage_L1_DataSet2.csv")
out2 = pd.read_csv("Dataset/Test/OutputFor_DataSet2.csv")

In [3]:
print("data1",data1.shape)
print("out1",out1.shape)
print("data2",data2.shape)
print("out2",out2.shape)

data1 (11899, 128)
out1 (5999, 1)
data2 (5999, 128)
out2 (5999, 1)

In [4]:
data1.dropna(axis=0,inplace=True)

In [5]:
data1.shape

(5999, 128)

In [6]:
header =[]
for i in range(1,data1.shape[1]+1):
    header.append("Col"+str(i))

In [7]:
data1.columns = header
data2.columns = header

In [8]:
data1.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [9]:
data2.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-4918.927835,-4668.999112,-4375.127119,-4034.564431,-3659.213495,-3247.243211,-2804.145676,-2333.584172,-1841.965323,-1332.037736,...,-4663.506099,-4918.012016,-5121.251501,-5275.969344,-5381.249941,-5433.432863,-5434.348878,-5382.165656,-5278.715575,-5123.997634
1,2920.413836,2376.612648,1773.304349,1123.306756,444.013104,-248.097664,-933.799415,-1594.783666,-2213.654301,-2776.681104,...,4871.323226,4852.098262,4814.562485,4748.647181,4645.197563,4492.310731,4274.423564,3991.537412,3633.580485,3201.469277
2,-2808.723170,-2303.372710,-1758.656432,-1180.066319,-579.504820,32.957795,643.590017,1241.404644,1815.417600,2356.471851,...,-5151.462319,-5106.602976,-5027.871511,-4914.350757,-4759.632168,-4565.548254,-4319.281944,-4020.831887,-3671.114971,-3265.552744
3,2871.892861,2532.245964,2055.275298,1435.488878,704.927781,-86.971408,-871.546088,-1584.713275,-2177.034698,-2625.625239,...,5858.221546,5590.898767,5202.730284,4759.633062,4322.945050,3943.932165,3647.312850,3432.172965,3265.553468,3098.018896
4,5534.138053,5395.898976,5186.251418,4924.421624,4631.464792,4323.859863,4009.847091,3692.171624,3363.511349,3012.878248,...,3558.510431,3879.847783,4193.860201,4506.042306,4808.154800,5085.548312,5318.082271,5487.448225,5576.250464,5574.419599

In [10]:
data = data1.append(data2, ignore_index = True)
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [11]:
data.shape

(11998, 128)

In [12]:
header = ["output"]
out1.columns = header
out2.columns = header

In [13]:
out2.head()

   output
0       1
1       2
2       2
3       3
4       3

In [14]:
output = out1.append(out2, ignore_index = True)
output.head()

   output
0       1
1       2
2       2
3       3
4       3

In [15]:
output.shape

(11998, 1)

In [16]:
data['output'] = output

In [17]:
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128,output
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205,1
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102,2
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897,2
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684,3
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200,3

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
data_arr = data.to_numpy()

In [20]:
data_arr.shape

(11998, 129)

In [21]:
x_train, x_test, y_train, y_test = train_test_split(data.loc[:,data.columns != 'output'],data['output'],test_size=0.2)

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.25, random_state=1)

In [22]:
print('x_train',x_train.shape)
print('y_train',y_train.shape)
print('x_val',x_val.shape)
print('y_val',y_val.shape)
print('x_test',x_test.shape)
print('y_test',y_test.shape)

x_train (7198, 128)
y_train (7198,)
x_val (2400, 128)
y_val (2400,)
x_test (2400, 128)
y_test (2400,)

In [23]:
x_train.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
4568,-6081.437077,-5862.122472,-5583.741392,-5243.413877,-4860.466279,-4426.739933,-3980.835892,-3441.534286,-2899.957308,-2340.180407,...,-4978.367410,-5338.212217,-5663.686472,-5924.294330,-6114.576544,-6267.147351,-6352.520875,-6378.458660,-6319.123303,-6218.403949
9877,5179.477659,5341.615755,5457.997504,5539.564329,5584.325905,5598.252155,5580.346814,5530.611899,5445.066578,5321.721162,...,697.294870,1346.843638,1970.529710,2558.405859,3099.530392,3588.929697,4021.629984,4394.648278,4710.967414,4969.593003
2839,-1321.098209,-1889.957051,-2353.090080,-2840.548783,-3316.780147,-3679.802021,-4103.638902,-4447.012485,-4721.150029,-5048.617031,...,3711.613749,3297.133439,2852.713263,2332.507044,1833.820383,1308.936308,767.210739,278.815996,-287.235501,-807.442007
7812,-4101.821302,-4381.279359,-4591.106364,-4739.654933,-4874.278382,-4921.628842,-4948.553334,-4961.550816,-4965.264761,-4964.336611,...,1521.704392,847.660898,150.407286,-551.488935,-1237.601702,-1892.148064,-2496.558544,-3039.692175,-3512.265175,-3909.635461
4706,4385.400419,4081.157174,3723.717916,3310.281768,2845.517885,2330.356602,1775.065423,1185.243770,573.023474,-50.395763,...,5120.811446,5196.405251,5239.335520,5252.401037,5235.602736,5188.938979,5109.612136,4992.954322,4835.233025,4637.381679

In [24]:
x_test.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
6643,5569.759488,5317.219110,5013.469315,9419.850461,5195.001042,4281.332448,3318.252728,2806.990858,2270.068274,1689.441893,...,5089.997757,5418.833520,5667.339483,5827.216729,5989.610355,6044.568792,6069.373714,6051.545578,5959.860668,5793.550008
8967,5779.552949,5435.723467,5074.702970,4706.161186,4333.321466,3947.588558,3536.067862,3078.345101,2562.602175,1982.389696,...,5288.521806,5643.095234,5968.658805,6241.572716,6440.348902,6544.572314,6542.423563,6437.125673,6237.274823,5962.211957
10613,-1281.722024,-1833.624996,-2282.953733,-2755.884430,-3217.921878,-3570.122965,-3981.326935,-4314.466148,-4580.431891,-4898.139209,...,3600.987045,3198.860003,2767.685996,2262.984431,1779.162052,1269.922271,744.343094,270.505752,-278.674635,-783.374894
4359,4447.543456,4057.524492,3753.233207,3531.845765,3360.387037,3187.987219,2956.236665,2606.726742,2116.846145,1479.061067,...,4531.388511,4987.353213,5436.724621,5815.439396,6063.204616,6140.455131,6027.406503,5752.319988,5352.879708,4897.856482
8518,-4264.669525,-4677.779652,-5045.334725,-5366.298053,-5637.563436,-5849.813893,-6009.259288,-6109.690486,-6152.139962,-6134.538853,...,1312.844179,719.579456,118.031954,-484.550028,-1082.991281,-1670.043349,-2241.565855,-2792.379958,-3315.239627,-3807.037961

In [25]:
y_train.head()

4568    5
9877    2
2839    4
7812    2
4706    2
Name: output, dtype: int64

In [26]:
y_test.head()

6643     5
8967     3
10613    4
4359     3
8518     1
Name: output, dtype: int64

In [27]:
y_train_hot = pd.get_dummies(y_train)
y_test_hot = pd.get_dummies(y_test)
y_val_hot = pd.get_dummies(y_val)

In [28]:
y_train_arr = y_train_hot.to_numpy()
y_test_arr = y_test_hot.to_numpy()
y_val_arr = y_val_hot.to_numpy()
print("y_train:",y_train_arr.shape)
print("y_test:",y_test_arr.shape)
print("y_val:",y_val_arr.shape)

y_train: (7198, 5)
y_test: (2400, 5)
y_val: (2400, 5)

In [29]:
transform = StandardScaler()
x_train_tr = transform.fit_transform(x_train)
x_test_tr = transform.fit_transform(x_test)
x_val_tr = transform.fit_transform(x_val)

In [30]:
print("Training",x_train_tr.shape)
print(y_train_arr.shape)
print("Validation",x_val_tr.shape)
print(y_val_arr.shape)
print("Test",x_test_tr.shape)
print(y_test_arr.shape)

Training (7198, 128)
(7198, 5)
Validation (2400, 128)
(2400, 5)
Test (2400, 128)
(2400, 5)

In [31]:
model = Sequential()

model.add(Dense(128, input_shape=(128,), activation = 'relu'))

model.add(Dense(256, activation = 'relu'))
model.add(Dropout(0.6))

model.add(Dense(128, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(5, activation = 'softmax'))

model.compile(loss='categorical_crossentropy', metrics=['accuracy'], optimizer='adam')

In [32]:
history = model.fit(x_train_tr, y_train_arr, batch_size=64, epochs=30, validation_data=(x_val_tr, y_val_arr))

Epoch 1/30
113/113 [==============================] - 3s 22ms/step - loss: 1.4182 - accuracy: 0.3466 - val_loss: 1.1707 - val_accuracy: 0.4300
Epoch 2/30
113/113 [==============================] - 2s 14ms/step - loss: 1.1750 - accuracy: 0.4246 - val_loss: 1.1448 - val_accuracy: 0.4350
Epoch 3/30
113/113 [==============================] - 1s 12ms/step - loss: 1.1297 - accuracy: 0.4608 - val_loss: 1.0975 - val_accuracy: 0.5188
Epoch 4/30
113/113 [==============================] - 2s 13ms/step - loss: 1.0962 - accuracy: 0.4889 - val_loss: 1.0275 - val_accuracy: 0.5504
Epoch 5/30
113/113 [==============================] - 2s 15ms/step - loss: 0.9367 - accuracy: 0.5740 - val_loss: 0.9679 - val_accuracy: 0.5842
Epoch 6/30
113/113 [==============================] - 1s 12ms/step - loss: 0.8484 - accuracy: 0.6146 - val_loss: 0.6867 - val_accuracy: 0.7000
Epoch 7/30
113/113 [==============================] - 2s 15ms/step - loss: 0.7147 - accuracy: 0.6731 - val_loss: 0.6183 - val_accuracy: 0.7246
Epoch 8/30
113/113 [==============================] - 2s 15ms/step - loss: 0.6217 - accuracy: 0.7178 - val_loss: 0.5027 - val_accuracy: 0.7954
Epoch 9/30
113/113 [==============================] - 2s 16ms/step - loss: 0.5996 - accuracy: 0.7284 - val_loss: 0.3790 - val_accuracy: 0.8329
Epoch 10/30
113/113 [==============================] - 1s 10ms/step - loss: 0.4450 - accuracy: 0.7872 - val_loss: 0.3405 - val_accuracy: 0.8288
Epoch 11/30
113/113 [==============================] - 1s 8ms/step - loss: 0.4235 - accuracy: 0.7940 - val_loss: 0.3380 - val_accuracy: 0.8354
Epoch 12/30
113/113 [==============================] - 1s 10ms/step - loss: 0.4697 - accuracy: 0.7779 - val_loss: 0.3944 - val_accuracy: 0.8012
Epoch 13/30
113/113 [==============================] - 1s 9ms/step - loss: 0.3696 - accuracy: 0.8102 - val_loss: 0.2867 - val_accuracy: 0.8388
Epoch 14/30
113/113 [==============================] - 1s 9ms/step - loss: 0.3001 - accuracy: 0.8319 - val_loss: 0.2721 - val_accuracy: 0.8388
Epoch 15/30
113/113 [==============================] - 1s 9ms/step - loss: 0.3463 - accuracy: 0.8159 - val_loss: 0.3237 - val_accuracy: 0.8154
Epoch 16/30
113/113 [==============================] - 1s 11ms/step - loss: 0.3200 - accuracy: 0.8183 - val_loss: 0.2662 - val_accuracy: 0.8421
Epoch 17/30
113/113 [==============================] - 1s 10ms/step - loss: 0.3107 - accuracy: 0.8313 - val_loss: 0.2534 - val_accuracy: 0.8579
Epoch 18/30
113/113 [==============================] - 1s 8ms/step - loss: 0.2844 - accuracy: 0.8522 - val_loss: 0.6360 - val_accuracy: 0.7521
Epoch 19/30
113/113 [==============================] - 1s 12ms/step - loss: 0.3720 - accuracy: 0.8241 - val_loss: 0.1901 - val_accuracy: 0.9421
Epoch 20/30
113/113 [==============================] - 1s 9ms/step - loss: 0.2075 - accuracy: 0.9075 - val_loss: 0.1698 - val_accuracy: 0.9167
Epoch 21/30
113/113 [==============================] - 1s 9ms/step - loss: 0.1977 - accuracy: 0.9162 - val_loss: 0.1039 - val_accuracy: 0.9767
Epoch 22/30
113/113 [==============================] - 2s 16ms/step - loss: 0.1504 - accuracy: 0.9397 - val_loss: 0.1095 - val_accuracy: 0.9296
Epoch 23/30
113/113 [==============================] - 1s 11ms/step - loss: 0.2008 - accuracy: 0.9235 - val_loss: 0.0989 - val_accuracy: 0.9671
Epoch 24/30
113/113 [==============================] - 1s 13ms/step - loss: 0.1859 - accuracy: 0.9371 - val_loss: 0.1371 - val_accuracy: 0.9287
Epoch 25/30
113/113 [==============================] - 2s 17ms/step - loss: 0.1474 - accuracy: 0.9473 - val_loss: 0.0446 - val_accuracy: 0.9946
Epoch 26/30
113/113 [==============================] - 2s 14ms/step - loss: 0.1136 - accuracy: 0.9619 - val_loss: 0.0201 - val_accuracy: 0.9975
Epoch 27/30
113/113 [==============================] - 2s 15ms/step - loss: 0.0810 - accuracy: 0.9737 - val_loss: 0.2695 - val_accuracy: 0.8625
Epoch 28/30
113/113 [==============================] - 2s 14ms/step - loss: 0.0927 - accuracy: 0.9704 - val_loss: 0.0398 - val_accuracy: 0.9871
Epoch 29/30
113/113 [==============================] - 2s 13ms/step - loss: 0.0672 - accuracy: 0.9799 - val_loss: 0.0080 - val_accuracy: 0.9996
Epoch 30/30
113/113 [==============================] - 2s 14ms/step - loss: 0.1002 - accuracy: 0.9683 - val_loss: 0.0099 - val_accuracy: 0.9992

In [33]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               16512
_________________________________________________________________
dense_1 (Dense)              (None, 256)               33024
_________________________________________________________________
dropout (Dropout)            (None, 256)               0
_________________________________________________________________
dense_2 (Dense)              (None, 128)               32896
_________________________________________________________________
dropout_1 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 645
=================================================================
Total params: 83,077
Trainable params: 83,077
Non-trainable params: 0
_________________________________________________________________

In [34]:
pred_acc = model.evaluate(x_test_tr,y_test_arr)
print("Test accuracy is {}".format(pred_acc))

75/75 [==============================] - 0s 4ms/step - loss: 0.0106 - accuracy: 0.9983
Test accuracy is [0.010552490130066872, 0.9983333349227905]